* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#body-wrapper {
  width: 100%;
}

.panel {
  width: 100%;
  min-height: 768px;
  padding: 64px 0;
}

#panel-landing {
  height: 100vh;
  color: #eeeeee;
  background-color: #348feb;
}

#panel-about {
  height: 100vh;
  color: #000000;
  background-color: #9fe0ed;
}

#panel-project {
  height: 100vh;
  background-color: #98b8d6;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.text-small {
  font-size: 1.3em;
}

.text-medium {
  font-size: 2em;
}

.text-jumbo {
  font-size: 4em;
}

.text-bold {
  font-weight: bold;
}

#contacts {
  margin: 50px 0;
}

.contact-image {
  height: 45px;
  width: 45px;
  margin: 0 8px;
}

.navbar {
  position: fixed;
  top: 0;
}
