* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h3 {
  margin: 0;
  font-size: inherit;
}

a {
  text-decoration: none;
}

#body-wrapper {
  width: 100%;
}

.panel {
  width: 100%;
  min-height: 768px;
  padding: 64px 64px;
}

#panel-landing {
  height: 100vh;
  color: #eeeeee;
  background-color: #348feb;
}

#panel-about {
  min-height: fit-content;
  color: #000000;
  background-color: #00c7b5;
}

#panel-project {
  height: 100vh;
  background-color: #98b8d6;
}

div.panel .panel-title {
  font-size: 3em;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.text-small {
  font-size: 1em;
}

.text-medium {
  font-size: 1.4em;
}

.text-large {
  font-size: 2em;
}

.text-larger {
  font-size: 4em;
}

.text-jumbo {
  font-size: 6em;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: 25;
}

#contacts {
  margin: 50px 0;
}

.contact-image {
  height: 45px;
  width: 45px;
}

.contact-anchor {
  margin: 0 8px;
}

.navbar {
  position: fixed;
  top: 0;
}

.image-circle {
  border-radius: 50%;
}

#profile-photo {
  height: 300px;
  width: 300px;
}

.inline-link {
  /* font-weight: bold; */
  color: #0014ff;
}

.row {
  display: flex;
  justify-content: center;
  margin: auto;
}

#bio-desc {
  text-align: right;
  margin-right: 50px;
}

#about-bio {
  max-width: 1000px;
}
